@font-face {
    font-family: 'ModernEmo';
    src: url(font/VerminVerile-wXyw.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.text-container{
    text-align: center;
}

.text{
    font-family: 'ModernEmo', sans-serif;
    font-size: 6rem;
    color: palevioletred;
    cursor: pointer;
}

.text:hover{
    color: aliceblue;
}

.text-decor{
    text-decoration: none;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .text {
        font-size: 5rem; /* Slightly smaller on medium screens */
    }
}

@media (max-width: 992px) {
    .text {
        font-size: 4rem; /* Smaller on small screens */
    }
}

@media (max-width: 768px) {
    .text {
        font-size: 3rem; /* Even smaller on tablets */
    }
}

@media (max-width: 576px) {
    .text {
        font-size: 2.5rem; /* Smallest on mobile devices */
    }
}
